# Игнорировать папку .vs (служебная папка Visual Studio)
.vs/

# Игнорировать папки сборки проектов
[Bb]in/
[Oo]bj/

# Игнорировать файлы пользовательских настроек
*.user
*.suo
*.userprefs

# Игнорировать файлы кэша
Thumbs.db
